.top-text {
  margin: 20px 0;
  text-align: center;
}

.to-do-wrap {
  margin: 0 auto;
}

.to-do {
  padding: 20px;
}

.to-do .btn {
  vertical-align: top;
}

.to-do .form-control {
  display: inline-block;
  width: auto;
  min-width: 235px;
  float: left;
  margin-right: 16px;
}

.to-do .item.input {
  text-align: center;
}

.item.wrap {
  padding: .375rem .75rem;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-bottom: 20px;
}

.item.wrap .text {
  float: left;
}

.item.wrap .complete {
  float: right;
  cursor: pointer;
}

.warning {
  color: red;
  font-size: 13px;
  text-align: left;
  margin-top: 5px;
}
